<div class="bgimage">
    <img ng-src="{{ playerBackground }}">
</div>

<div class="row" ng-controller="PlayerControlsController">
    <div class="controlwrap column left"  ng-if="!mobiledisplay">
        <ng-include src="'player/controls/controls.left.tmpl.html'"></ng-include>
    </div>
    <div class="seekwrap column" id="seekbar">
        <div class="trackname">
            <span class="title">{{ trackTitle }}</span> <span class="delimiter">-</span> <span class="artist">{{ trackArtist }}</span>
        </div>
        <div ng-controller="PlayerSeekbarController">
            <ng-include src="'player/seekbar/seekbar.tmpl.html'"></ng-include>
        </div>
    </div>
    <div class="controlwrap column left" ng-if="mobiledisplay">
        <ng-include src="'player/controls/controls.left.tmpl.html'"></ng-include>
    </div>
    <div class="controlwrap column right">
        <ng-include src="'player/controls/controls.right.tmpl.html'"></ng-include>
    </div>
    <div class="clearfix"></div>
</div>