.DS_store
*.pyc
*.swp
.coverage
.idea
.noseids
.tox
MANIFEST
build/
cover/
coverage.xml
dist/
docs/_build/
mopidy.log*
node_modules/
nosetests.xml
.project
*.pbxproj
*.egg-info
mopidy_mopify/static/app/bower_components/*
!mopidy_mopify/static/app/bower_components/angular-echonest/*
!mopidy_mopify/static/app/bower_components/angular-spotify