.DS_store
*.pyc
*.swp
.coverage
.idea
.noseids
.tox
MANIFEST
build/
cover/
coverage.xml
docs/_build/
mopidy.log*
node_modules/
nosetests.xml
.project
*.pbxproj
*.egg-info
mopidy_mopify/static/app/bower_components/*
!src/vendor/angular-echonest
!src/vendor/angular-spotify