.DS_store
*.pyc
*.swp
.coverage
.idea
.noseids
.tox
MANIFEST
build/
cover/
coverage.xml
docs/_build/
mopidy.log*
node_modules/
nosetests.xml
.project
*.pbxproj
*.egg-info
src/vendor*
!src/vendor/angular-echonest/*
!src/vendor/angular-spotify/*