body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
	font-size: 12px;
	overflow: hidden;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
	background-color: #ddd;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
	background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}

.rc-handle-container {
	position: relative; 
}

.rc-handle {
	position: absolute;
	width: 7px;
	cursor: ew-resize;
	margin-left: -3px;
	z-index: 2; 
}

table.rc-table-resizing {
	cursor: ew-resize; 
}
table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a {
	cursor: ew-resize; 
}

tr.track{
	cursor: pointer;
}

tr.track.highlight{
	background-color: #7ab800 !important;
	color: #f0f8e0 !important;
}

tr.track.highlight .num,tr.track.highlight .length{
	color: #e1e9d1 !important;
}

tr.track td .button{
	display: none;
	font-size: 10px;
}

.clear{
	visibility: hidden;
	clear: both;
}

a{
	text-decoration: none;
	color: #333;
}

.highlight.track td a{
	text-decoration: none;
	color: #f0f8e0;
}

a:hover{
	text-decoration: underline !important;
}

.loading{
	background-image: url('/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#notification{
	position: fixed;
	top: -100px;
	right: 20px;
	z-index: 9999;
	padding: 15px 20px;
	font-size: 16px;
	background: #333;
	color: white;
	font-weight: bold;
	box-shadow: 0 0 2px black;
	border: 1px solid #555;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

#notification.active{
	top: 20px;
}

#pageloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 100;
	display: none;
}

#viewport{
	width: 100%;
	height: 100%;
	position: relative;
}

#sidebar{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100px;
	background-color: #333;
	z-index: 2;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	color: #a0a0a0;
	font-weight: bold;
}

#sidebar #logo{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	padding: 95px 0 10px 0;
	background-image: url('/images/mopify_logo.png');
	background-position: center 20px;
	background-size: 60px;
	background-repeat: no-repeat;
	text-shadow: 0 0 1px black;
	background-color: #353535;
	font-size: 16px;
}

#sidebar a{
	text-decoration: none;
	color: #a0a0a0;
}

#sidebar #tabs{
	width: 100%;
	
	text-align: center;
}

#searchwindow{
	position: absolute;
	top: 125px;
	left: 99px;
	background-color: #eee;
	border: 1px solid #ddd;
	box-shadow: 0 0 1px rgba(0,0,0,0.8);
	z-index: 100;
	width: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
	opacity: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

#searchwindow.open{
	opacity: 1;
	display: block;
}

#searchwindow #bar{
	width: 100%;
	background-color: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 );
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	position: relative;
}

#searchwindow #bar input{
	width: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 4px 4px 4px 25px;
	border: 1px solid #aaa;
	box-shadow: inset 0 0 3px #7ab800;
	color: #777;
	outline: none; 
	background-image: url('/images/searchicon.png');
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 12px;
}

#searchwindow #bar #loader{
	position: absolute;
	top: 12px;
	right: 20px;
	display: none;
}

#searchwindow #results table{
	width: 100%;
	border-collapse: collapse;
}

#searchwindow #results table tr:nth-child(even){
	background-color: #f0f0f0;
}

#searchwindow #results table tr:nth-child(odd){
	background-color: #fefefe;
}

#searchwindow #results table tr.clickable:hover{
	background-color: #dfdfdf;
	cursor: pointer;
}

#searchwindow #results table td.type{
	background-color: #e0e0e0;
	border-right: 1px solid #aaa;
	width: 25px;
	vertical-align: middle;
	color: #888;
	font-size: 12px;
}

#searchwindow #results table td.result{
	text-align: left;
	padding: 5px 10px;
	font-weight: normal;
	font-size: 12px;
	color: #444;
}

#searchwindow #results table td.result.typename{
	color: #777;
}

#searchwindow #results table tr .art{
	float: left;
	height: 15px;
	vertical-align: middle;
	margin-right: 5px;
}

#sidebar #tabs ul.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#sidebar #tabs ul.menu li a{
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #555;
	border-bottom: 1px solid #000;
	background-color: #353535;
	display: block;
	cursor: pointer;
}

#sidebar #tabs ul.menu li a:hover{
	background-color: #303030;
}	

#sidebar #tabs ul.menu li a.active{
	background-color: #2f2f2f;
	border-top: 1px solid #222;
}

/* Pagewrap */
#pagewrap{
	position: absolute;
	background-color: #f0f0f0;
	left: 100px;
	top: 0;
	height: 100%;
	right: 0;
	z-index: 1;
}

#pagewrap #pagecontent{
	position: absolute;
	height: 100%;
	left: 0;
	right: 300px;
	top: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	z-index: 2;
}

#pagewrap #pagecontent #search input{
	border: none;
}

#pagewrap #currentsong{
	position: absolute;
	right: 0;
	height: 100%;
	width: 300px;
	background-color: #e9e9e9;
	border-left: 1px solid white;
}

#pagewrap #currentsong #options{
	position: absolute;
	z-index: 5;
	width: 100px;
	margin-left: 100px;
	text-align: center;
	color: #999;
	padding: 5px 0 2px 0;
	font-size: 14px;
	background-color: #222; /* Old browsers */
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pagewrap #currentsong #options i{
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
}

#pagewrap #currentsong #options i:hover{
	color: #ccc;
}

#pagewrap #currentsong #options i.active{
	color: #ddd;
}

#pagewrap #currentsong #options #volumecontrolwrap{
	position: absolute;
	background-color: #222;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 15px;
	top: 30px;
	width: 150px;
	left: -25px;
	display: none;
}

#pagewrap #currentsong #options #volumecontrol{
	position: relative;
	background-color: #444;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#pagewrap #currentsong #options #volumecontrol .ui-slider-range{
	background-color: #bbb; /* Old browsers */
	height: 6px;
	position: relative;
}

#pagewrap #currentsong #options #volumecontrol .ui-slider-handle{
	position: absolute;
	top: -2px;
	margin-left: -8px;
	height: 10px;
	width: 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #e0e0e0;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	cursor: pointer;
	display: block;
}

#pagewrap #currentsong #albumart{
	width: 100%;
	height: 299px;
	overflow: hidden;
}

#pagewrap #currentsong #albumart img.art{
	width: 100%;
}

#pagewrap #currentsong #timebarwrap{
	position: relative;
	width: 100%;
	height: 6px;
	background-color: #222;
	cursor: pointer;
}

#pagewrap #currentsong #timebarwrap .ui-slider-range{
	width: 0%;
	background-color: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	height: 100%;
}

#pagewrap #currentsong #controls{
	background-color: #444444; /* Old browsers */
	background: -moz-linear-gradient(top,  #444444 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444444 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444444 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444444 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding: 7px 0 4px 0;
	text-align: center;
	color: #eee;
	border-bottom: 1px solid black;
	font-size: 11px;
}

#pagewrap #currentsong #controls i{
	padding: 0 5px;
	display: inline-block;
	cursor: pointer;
}	

#pagewrap #currentsong #controls i:hover{
	color: #d0d0d0;
}

#pagewrap #currentsong #meta{
	padding: 12px 0;
	min-height: 53px;
	text-align: center;
	color: #eee;
	background-color: #1f1f1f;
}

#pagewrap #currentsong #meta .title{
	display: block;
	font-weight: bold;
	font-size: 14px;
}

#pagewrap #currentsong #meta .artist{
	display: block;
	font-size: 12px;
}

#pagewrap #currentsong  #tracklist{
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

#pagewrap #currentsong  #tracklist ul.tracks{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#pagewrap #currentsong  #tracklist ul.tracks li.track{
	padding: 5px 15px;
	background-color: #dfdfdf;
	font-size: 11px;
	color: #444;
	cursor: pointer;
}

#pagewrap #currentsong  #tracklist ul.tracks li.track:nth-child(even){
	background-color: #f0f0f0;
}

#pagewrap #currentsong  #tracklist ul.tracks li.track:hover{
	background-color: #d0d0d0;
	color: #111;
}

#pagewrap #currentsong  #tracklist ul.tracks li.track.ui-sortable-helper{
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#pagewrap #currentsong  #tracklist ul.tracks li.track.current{
	background-color: #555;
	color: #f0f0f0;
}

#pagewrap #pagecontent .singlepage{
	display: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
}	

#pagewrap #pagecontent .singlepage #playlistswrap{
	width: 30%;
	background-color: #f0f0f0;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	float: left;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname{
	margin: 0;
	cursor: pointer;
	position: relative;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname > .title{
	margin: 10px 20px;
	font-weight: bold;
	cursor: pointer;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname > .openclose{
	float: right;
	position: absolute;
	top: 3px;
	right: 20px;
	color: #bbb;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname.active > .openclose{
	transform: rotate(180deg) translateY(3px);
	-ms-transform:rotate(180deg) translateY(3px);
	-webkit-transform:rotate(180deg) translateY(3px);
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname.active ul {
	display: block;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname ul li.playlist{
	margin: 0;
	padding: 10px 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist:hover#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.groupname:hover{
	background-color: #e6e6e6;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist .image{
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist .image .playbutton{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('/images/playbutton.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist .image img{
	width: 50px;
	min-height: 50px;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist .title{
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	padding-left: 20px;
	color: #3f3f3f;
	font-size: 12px;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist.highlight{
	background-color: #7ab800 !important;
}

#pagewrap #pagecontent .singlepage #playlistswrap ul#playlists li.playlist.highlight .title{
	color: #f0f8e0;
}

#pagewrap #pagecontent .singlepage #playlisttracks{
	width: 70%;
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
}	

#pagewrap #pagecontent .singlepage #playlisttracks #search{
	width: 100%;
	padding: 5px 10px;
	background-color: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#e0e0e0 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 );
	border-bottom: 1px solid #ccc;
	height: 37px;
	overflow: hidden;
}

#pagewrap #pagecontent .singlepage #playlisttracks #search .filtername{
	font-size: 13px;
	color: #777;
	float: left;
	line-height: 30px;
	margin-left: 3px;
	font-weight: bold;
}

#pagewrap #pagecontent .singlepage #playlisttracks #search .ss-icon{
	font-size: 17px;
	color: #777;
	float: left;
	line-height: 28px;
	margin: 3px 5px;
}

#pagewrap #pagecontent .singlepage #playlisttracks #search input{
	float: right;
	line-height: 22px;
	border: 1px solid #ddd;
	padding: 0 10px;
	color: #777;
	font-size: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width: 200px;
}

#pagewrap #pagecontent .singlepage #playlisttracks #information{
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 25px;
}

#pagewrap #pagecontent .singlepage #playlisttracks #information #art{
	height: 120px;
	width: 120px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	position: relative;
}

#pagewrap #pagecontent .singlepage #playlisttracks #information #art img.image{
	height: 120px;
}

#pagewrap #pagecontent .singlepage #playlisttracks #information #art img.play{
	position: absolute;
	top: 39px;
	left: 39px;
	display: none;
	cursor: pointer;
}

#pagewrap #pagecontent .singlepage #playlisttracks #information .title{
	font-size: 21px;
	font-weight: bolder;
	float: left;
	margin-left: 25px;
	color: #222;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.first{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #444;
	text-align: left;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.first th{
	padding: 4px 5px;
	background-color: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	border-left: 1px solid #efefef;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr th{
	width: auto;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track{
	background-color: #fefefe;
	cursor: pointer;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track:nth-child(odd){
	background-color: #f0f0f0;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track td{
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 25px;
}


#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track td:first-child{
	width: 35px;
	text-align: right;
	color: #999;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr .num,#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr .length{
	width: 50px;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track td.length{
	color: #999;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track td.title{
	width: 400px;
}

#pagewrap #pagecontent .singlepage #playlisttracks table.tracks tr.track td.artist{
	width: 200px;
}

/* Artist page */
#pagewrapoverlay{
	background: rgba(0,0,0,0.4);
	position: fixed;
	left: 99px;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 40; /* Just beneath the artist overlay */
	display: none;
	opacity: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

#pagewrapoverlay.open{
	opacity: 1;
	display: block;
	cursor: pointer;
}

#metapage{
	height:100%;
	width: 70%;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #ecebe8;
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
	z-index: 50;
	transform: translateX(100%);
	-ms-transform: translateX(100%); /* IE 9 */
	-webkit-transform: translateX(100%); /* Safari and Chrome */
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	overflow-y: auto;
}

#metapage.open{
	transform: translateX(0);
	-ms-transform: translateX(0); /* IE 9 */
	-webkit-transform: translateX(0); /* Safari and Chrome */
}

#metapage #albumpage{
	display: none;
	height: 100%;
}

#metapage #albumpage #details{
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #bbb;
	background-color: #fbfbfb;
}	

#metapage #albumpage #details table tr td{
	vertical-align: top;
}

#metapage #albumpage #details .art{
	width: 120px;
	height: 120px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 20px;
}

#metapage #albumpage #details .art img{
	width: 120px;
	min-height: 120px;
}

#metapage #albumpage #details #albumtitle{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	display: inline-block;
}

#metapage #albumpage #details #albumyear{
	font-size: 11px;
	color: #888;
	display: inline-block;
	padding-left: 5px;
}

#metapage #albumpage #details #albumartist{
	position: absolute;
	bottom: 20px;
	font-size: 14px;
	color: #aaa;
}

#metapage #albumpage #details #albumartist .dynamic{
	color: #333;
	text-decoration: none;
}

#metapage #albumpage #details #albumartist .dynamic:hover{
	text-decoration: underline;
}

#metapage #albumpage #details #artistart{
	height: 25px;
	width: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 4px;
}

#metapage #albumpage #details #artistart img{
	width: 25px;
	height: 25px;
	display: inline-block;
}

#metapage #albumpage #buttons{
	margin-top: 7px;
}

#metapage #albumpage #buttons .button{
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	height: 23px;
	border-radius: 3px;
	background-image: url(../images/buttons.png);
	background-position: 0 -27px;
	box-shadow: inset 0 1px 0 0 #95c800;
	border: 1px solid rgba(0,0,0,.3);
	padding: 0 6px;
	line-height: 22px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.27);
	cursor: pointer;
}

#metapage #albumpage #tracks{
	padding: 20px;
	border-top: 1px solid #fff;
	height: calc(100% - 167px);
	overflow-y: auto;
}

#metapage #albumpage #tracks table{
	box-shadow: 0 0 1px #666;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #555;
	border-collapse: collapse;
	width: 100%;
}

#metapage #albumpage #tracks table tr:nth-child(even){
	background-color: #f0f0f0;
}

#metapage #albumpage #tracks table tr:nth-child(odd){
	background-color: #fefefe;
}

#metapage #albumpage #tracks table tr.track.highlight{
	background-color: #7ab800;
	color: #f0f8e0;
}

#metapage #albumpage #tracks table tr td{
	padding: 5px 10px;
	font-size: 13px;
}

#metapage #albumpage #tracks table tr td.num{
	width: 30px;
	color: #888;
	text-align: right;
}

#metapage #albumpage #tracks table tr td.num .button{
	display: none;
	font-size: 10px;
}

#metapage #albumpage #tracks table tr td.length{
	width: 20px;
	color: #888;
}

#metapage #albumpage #tracks table tr.highlight td.num,#metapage #albumpage #tracks table tr.highlight td.length{
	color: #f0f8e0;
}
	
	
#metapage #artistpage #topcover{
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
}

#metapage #artistpage #topcover img#bgimage{
	z-index: 0;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	margin-top: -25%;
}

#metapage #artistpage #topcover h1.name{
	position: absolute;
	bottom: 20px;
	left: 60px;
	color: white;
	text-shadow: 0 0 3px rgba(0,0,0,0.7);
}

#metapage #artistpage #topwrapper,#metapage #artistpage #albums{
	margin: 20px 60px;
}

#metapage #artistpage #populartracks{
	width: 75%;
	float: left;
}

#metapage #artistpage #populartracks h2.title,#metapage #artistpage #albums h2.title,#metapage #artistpage #similar h2.title{
	font-size: 13px;
	padding: 5px 0;
	border-bottom: 1px solid #aaa;
	width: 100%;	
	display: block;
	color: #444;
}

#metapage #artistpage #populartracks table.tracks{
	width: 50%;
	float: left;
	border-collapse: collapse;
	box-shadow: 0 0 1px #666;
	overflow: hidden;
	color: #555;
}

#metapage #artistpage #populartracks table.tracks.left{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#metapage #artistpage #populartracks table.tracks.right{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#metapage #artistpage #populartracks table.tracks tr:nth-child(odd){
	background-color: #fefefe;
}

#metapage #artistpage #populartracks table.tracks tr:nth-child(even){
	background-color: #f0f0f0;
}

#metapage #artistpage #populartracks table.tracks tr td{
	padding: 5px 15px;
	font-size: 14px;
}

#metapage #artistpage #populartracks table.tracks tr td.num{
	width: 10%;
	text-align: center;
	font-weight: bold;
	color: #777 !important;
}

#metapage #artistpage #populartracks table.tracks tr td.image{
	width: 8%;
	text-align: center;
}

#metapage #artistpage #populartracks table.tracks tr td.image .imagewrap{
	width: 30px;
	height: 30px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#metapage #artistpage #populartracks table.tracks tr td.image .imagewrap img{
	width: 30px;
	height: 30px;
}

#metapage #artistpage #populartracks table.tracks tr td.title{
	width: 82%;
	padding-left: 0;
}

#metapage #artistpage #populartracks table.tracks tr:nth-child(odd) td.num{
	background-color: #f0f0f0;
}

#metapage #artistpage #populartracks table.tracks tr:nth-child(even) td.num{
	background-color: #e0e0e0;
}

#metapage #artistpage #similar{
	width: 20%;
	float: right;
}

#metapage #artistpage #similar table.similarartists{
	width: 100%;
}

#metapage #artistpage #similar table.similarartists .image{
	width: 30px;
	height: 30px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#metapage #artistpage #similar table.similarartists .image img{
	height: 30px;
	min-width: 30px;
}

#metapage #artistpage #similar table.similarartists tr.artist{
	cursor: pointer;
}

#metapage #artistpage #similar table.similarartists tr.artist:hover{
	text-decoration: underline;
}

#metapage #artistpage #similar table.similarartists tr.artist td{
	padding: 4px 0;
}

#metapage #artistpage #albums ul.albumscontainer{
	margin: 0;
	padding: 10px 0 0 0;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap{
	margin: 10px 0 50px 0;
	padding: 0;
	list-style-type: none;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #artwrap{
	height: 200px;
	width: 200px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #artwrap img{
	width: 200px;
	height: 200px;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap{
	float: left;
	margin-left: 30px;
	width: calc(100% - 230px);
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap .albumname{
	font-size: 18px;
	color: #555;
	margin: 0 0 15px 0;
	padding: 0;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap .albumname .year{
	display: inline-block;
	color: #888;
	font-size: 10px;
	margin-left: 5px;
	font-weight: normal;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks{
	border-collapse: collapse;
	box-shadow: 0 0 1px #666;
	overflow: hidden;
	color: #555;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr:nth-child(even){
	background-color: #f0f0f0;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr:nth-child(odd){
	background-color: #fefefe;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr.track td{
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr.track td.num{
	width: 30px;
	color: #888;
	text-align: right;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr.track td.length{
	width: 40px;
	color: #888;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #trackwrap table.tracks tr.track td.title{
	padding-left: 10px;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #artwrap {
	position: relative;
}

#metapage #artistpage #albums ul.albumscontainer li.albumwrap #artwrap .playbutton{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('/images/playbutton.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	top: 0;
	left: 0;
	cursor: pointer;
}


/* RADIO PAGE */
#radio #topbar{
	background: rgb(26,26,26); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(26,26,26,1) 0%, rgba(50,50,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,26,26,1)), color-stop(100%,rgba(50,50,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(50,50,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(50,50,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(50,50,50,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(26,26,26,1) 0%,rgba(50,50,50,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
	height: 475px;
}

#radio #topbar #toparea{
	width: 100%;
	position: relative;
}	

#radio #topbar #toparea #radioimage{
	overflow: hidden;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#radio #topbar #toparea #radioimage img{
	height: 50px;
}

#radio #topbar #toparea #radioname{
	position: absolute;
	top: 23px;
	left: 83px;
	display: table-cell;
	height: 50px;
	color: #a5a5a5;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0 0 2px rgba(0,0,0,0.5);
	vertical-align: middle;
}

#radio #topbar #toparea #radioname .dynamic{
	font-size: 18px;
	color: #ccc;
	margin-top: 3px;
	display: block;
}

#radio #topbar #toparea #newradio {
	position: relative;
	right: 20px;
	top: 20px;
	float: right;
}

#radio #topbar #toparea #newradio .button{
	background: url('/images/buttons.png') 0 -1px;
	border: 0;
	border-radius: 3px;
	padding: 0 8px 2px 8px;
	line-height: 23px;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.62);
	height: 20px;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	cursor: pointer;
}

#radio #topbar #controls{
	width: 450px;
	margin-left: -170px;
	position: absolute;
	left: 50%;
	margin-top: 90px;
}

#radio #topbar #controls .currenttrack{
	overflow: hidden;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	position: relative;
}

#radio #topbar #controls .currenttrack img{
	width: 300px;
}

#radio #topbar #controls .currenttrack .playbutton{
	background-image: url('/images/playbuttons-XL.png');
	width: 79px;
	height: 79px;
	margin: auto;
	margin-top: 110px;
	margin-left: 110px;
	z-index: 9;
	position: absolute;
	cursor: pointer;
	opacity: 0.8;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
}

#radio #topbar #controls .currenttrack .playbutton:hover{
	opacity: 1;
}

#radio #topbar #controls .currenttrack .playbutton.pause{
	background-position-x: -243px;
}

#radio #topbar #controls #nexttrack{
	width: 59px;
	height: 59px;
	background-image: url('/images/skip.png');
	background-position: 0px 0px;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	opacity: 0.75;
	cursor: pointer;
	position: absolute;
	top: 120px;
	right: 0;
}

#radio #topbar #controls #nexttrack:hover{
	opacity: 1;
}

#radio #topbar #controls #metainfo{
	margin-top: 15px;
	float: left;
	color: #ddd;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#radio #topbar #controls #metainfo .artist,#radio #topbar #controls #metainfo .title{
	display: block;
}

#radio #topbar #controls #metainfo .title{
	font-size: 14px;
	width: 230px;
	padding-bottom: 3px;
}

#radio #topbar #controls #metainfo .artist{
	color: #ccc;
}

#radio #topbar #controls #thumbwrap {
	position: absolute;
	right: 150px;
	margin-top: 15px;
}

#radio #topbar #controls #thumbwrap .thumb{
	height: 37px;
	width: 37px;
	background-size: cover;
	display: inline-block;
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
}

#radio #topbar #controls #thumbwrap .thumb:hover{
	opacity: 1;
}

#radio #topbar #controls #thumbwrap .thumb#thumbup{
	background-image: url('/images/thumbup.png');
}

#radio #topbar #controls #thumbwrap .thumb#thumbdown{
	background-image: url('/images/thumbdown.png');
}

#radio #previousstations{
	background: rgb(25,25,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(25,25,25,1) 0%, rgba(43,43,43,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,25,25,1)), color-stop(100%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(43,43,43,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(43,43,43,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(43,43,43,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,25,25,1) 0%,rgba(43,43,43,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5);
	height: 230px;
}