<div id="accounts" ng-controller="AccountServicesMenuController" ng-class="(connectedCount > 2) ? 'small' : ''">
    <div class="title"><a href="#/account/services">Connected services</a></div>

    <ng-include ng-if="connectedServices.spotify" src="'account/services/spotify/menu.tmpl.html'"></ng-include>
    <ng-include ng-if="connectedServices.facebook" src="'account/services/facebook/menu.tmpl.html'"></ng-include>
    <ng-include ng-if="connectedServices.sync" src="'account/services/sync/menu.tmpl.html'"></ng-include>

    <div ng-if="!hasServicesConnected">
        <div class="notify"><a href="#/account/services">You have no connected services. Click here to connect a service.</a></div>
    </div>
</div>