body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #404040;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.fullheight{
    height: 100%;
}

.alignright{
    text-align: right;
}
    
.button{
    padding: 10px 15px;
    text-transform: none;
    font-size: 15px;
    -webkit-border: 1px solid white;
    -moz-border: 1px solid white;
    border-radius: 25px;
    display: inline-block;
    -webkit-transition: background-color .3s ease;
    -moztransition: background-color .3s ease;
    transition: background-color .3s ease;
    cursor: pointer;
}

#application{
    height: 100%;   
    width: 100%;
    overflow: hidden;
}

#application #overlaymodal::before{
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 100;
}

#application #overlaymodal{
    background: #fafafa;
    width: 800px;
    z-index: 500;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

#application #leftside{
    background-color: #f8f8f8;
    border-right: 1px solid #e4e6e8;
    position: fixed;
    top: 0;
    left: 0;
    width: 16.66666667%;
    bottom: 0;
}

#application #leftside #menu{
    padding: 35px;
}

#application #leftside #menu .block{
    margin: 0 0 40px 0;
}

#application #leftside #menu .block .title{
    text-transform: uppercase;
    font-size: 15px;
    color: #b2b2b2;
    padding-bottom: 2px;
    font-weight: 300;
}

#application #leftside #menu .block .content,
#application #leftside #menu .block .content a{
    font-size: 18px;
    color: #777;
    text-transform: uppercase;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    transition: color .2s ease;
    font-weight: 300;
}

#application #leftside #menu .block .content a.active,
#application #leftside #menu .block .content a:hover{
    color: #333;
    text-decoration: none;
}

#application #leftside #menu .block .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#application #leftside #menu .block .content ul li{
    margin: 0;
    padding: 3px 0 4px 0;
}

#application #leftside #menu .block .content#search span{
    margin: 5px;
}

#application #header{
    height: 200px;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moztransition: all .5s ease;
    transition: all .5s ease;
}

#application #header.small{
    height: 200px;
}

#application #header.big{
    height: 350px;
}

#application #header a{
    position: relative;
    color: white;
    text-decoration: none;
}

#application #header a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    -webkit-transition: all .3s ease;
    -moztransition: all .3s ease;
    transition: all .3s ease;
}

#application #header a.active::after,
#application #header a:hover::after{
    width: 100%;
}

#application #header.small .lefttext{
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 130px 0 0 50px;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
}

#application #header.small .lefttext i{
    margin: 4px 9px 0 0;
    float: left;    
}

#application #header.small .centertext{
    color: white;
    padding: 140px 0 0 0;
    text-shadow: 0 0 2px rgba(0,0,0,.3);   
    text-align: center;
    font-weight: bold;
}

#application #header.small .centertext .bigtitle{
    font-size: 35px;
    text-align: center;
    margin-top: -50px;
    text-transform: uppercase;
    font-weight: 400;
}

#application #header.small .righttext{
    padding: 125px 50px 0 0;
    text-align: right;
}

#application #header.small .righttext .button{
    color: white;
    border: 1px solid white;
}

#application #header.small .righttext .button:hover{
    background-color: rgba(255,255,255,.15);
}

#application #header #radiosearch{
    position: relative;
    height: 100%;
    width: 100%;
}

#application #header #radiosearch::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0,0,0,.4);
    opacity: 1;
    -webkit-transition: all .5s ease;
}

#application #header #radiosearch .title{
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#application #header #radiosearch .inputwrap{
    margin-top: 50px;
    text-align: center;
}

#application #header #radiosearch .inputwrap input{
    background: rgba(0,0,0,0);
    border: 1px solid white;
    width: 80%;
    font-size: 19px;
    padding: 10px 30px;
    letter-spacing: 1px;
    color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease;
    -moztransition: all .3s ease;
    transition: all .3s ease;
}

#application #header #radiosearch.dropdownvisible .inputwrap input{
    -webkit-border-radius: 25px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius: 25px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#application #header #radiosearch .inputwrap input:focus{
    background: rgba(0,0,0,.15);
}

#application #header #radiosearch .inputwrap input:focus{
    outline: none;
}

#application #header #radiosearch .inputwrap input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    font-style: italic;
    opacity: .7;
    font-family: inherit;
}
#application #header #radiosearch .inputwrap input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    font-style: italic;
    opacity: .7;
    font-family: inherit;
}
#application #header #radiosearch .inputwrap input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    font-style: italic;
    opacity: .7;
    font-family: inherit;
}
#application #header #radiosearch .inputwrap input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
    font-style: italic;
    opacity: .7;
    font-family: inherit;
}

#application #header #radiosearch.ng-hide::before{
    opacity: 0;
}

#application #header #radiosearch .resultswrap{
    width: 80%;
    margin-left: 10%;
    position: absolute;
    z-index: 100;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#application #header #radiosearch .resultswrap ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid white;
    border-top: 0px solid white;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

#application #header #radiosearch.dropdownvisible .resultswrap ul{
    opacity: 1;
}

#application #header #radiosearch .resultswrap ul li{
    background-color: rgba(0,0,0,.75);
    color: white;
    height: 40px;
    padding: 2px 30px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    margin: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#application #header #radiosearch .resultswrap ul li .thumb{
    position: absolute;
    z-index: 0;
    opacity: .2;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

#application #header #radiosearch .resultswrap ul li .thumb img{
   width: 100%;
   margin-top: -50%;        
    -webkit-transform: translateY(25%);
}

#application #header #radiosearch .resultswrap ul li:hover .thumb{
    opacity: .4;
}

#application #header #radiosearch .resultswrap ul li .text{
    line-height: 36px;
}

#application #header #radiosearch .resultswrap ul li.divider{
    height: 32px;
    padding: 0px 30px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    border-top: 2px solid white;
}

#application #header #radiosearch .resultswrap ul li.divider:first-child{
    border-top: 0px solid white;
    height: 30px;
}

#application #overview{
    padding: 35px 50px;
}

#application #overview .pagetitle{
    color: #c0c0c0;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#application #overview .pagetitle .sub{
    padding-left: 5px;
    color: #777;
}

#application #overview .pagetitle .button.createnew{
    border: 1px solid #ccc;
    padding: 6px 15px 3px 15px;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-top: -12px;
}

#application #overview .pagetitle .button.createnew:hover{
    background-color: #fafafa;
}

#application #overview .pagetitle .button.createnew .text{
    float: left;
    margin: -1px 7px 0 0;
}

#application #overview .pagecontent{
    padding-top: 20px;
    padding-bottom: 20px;
}

#application #overview .pagecontent #albumview{
    margin-left: -25px;
    margin-right: -25px;
}

#application #overview .pagecontent #albumview .single-album{
    padding: 0 25px 50px 25px;
    position: relative;
}

#application #overview .pagecontent #albumview .single-album .albumart{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#application #overview .pagecontent #albumview .single-album .albumart::after{
    content: '';
    display: block;
    margin-top: 100%;
}
 
#application #overview .pagecontent #albumview .single-album .albumart .hoverwrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgba(0,0,0,.5);
    color: white;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#application #overview .pagecontent #albumview .single-album .albumart .hoverwrap:hover{
    opacity: 1;
}

#application #overview .pagecontent #albumview .single-album .albumart .hoverwrap .playicon{
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#application #overview .pagecontent #albumview .single-album .albumart .hoverwrap .playicon:hover{
    font-size: 45px;
}

#application #overview .pagecontent #albumview .single-album .albumart img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#application #overview .pagecontent #albumview .single-album .albuminfo{
    padding-top: 5px;
}

#application #overview .pagecontent #albumview .single-album .albuminfo span.year{
    font-size: 14px;
    color: #bbb;
    display: block;
}

#application #player{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: rgba(0,0,0,.9);
}

#application #player .bgimage{
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#application #player .bgimage img{
    width: 100%;
    min-height: 100%;
    margin-top: -20%;
    /*filter: url('./svg/resources.svg#blur');
    -webkit-filter: blur(15px);*/
}

#application #player .controlwrap{
    padding: 53px 53px 20px 50px;
}

#application #player .controlwrap .iconwrap{
    width: 230px;
}

#application #player .controlwrap .iconwrap i{
    color: #aaa;
    cursor: pointer;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    transition: color .2s ease;
}

#application #player .controlwrap .iconwrap i:hover{
    color: #eee;
}

#application #player #seekbar {
    padding: 0 50px;
}

#application #player #seekbar .trackname{
    text-align: center;
    color: #fff;
    margin-top: 25px;
    padding-bottom: 5px;
}

#application #player #seekbar .trackname .title{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

#application #player #seekbar .trackname .artist{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

#application #player #seekbar .barwrap{
    width: 100%;
    position: relative;
}

#application #player #seekbar .barwrap .time{
    display: inline-block;
    color: #fff;
    width: 40px;
    font-size: 14px;
}

#application #player #seekbar .barwrap .time#total{
    text-align: right;
    color: #aaa;
    width: calc(100% - 55px);
}

#application #player #seekbar .barwrap .outerbar{
    display: inline-block;
    width: calc(100% - 100px);
    height: 2px;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 12px;
}

#application #player #seekbar .barwrap .outerbar .innerbar{
    height: 100%;
    width: 23%;
    background-color: white;
}