@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?j371rx');
	src:url('icomoon.eot?#iefixj371rx') format('embedded-opentype'),
		url('icomoon.ttf?j371rx') format('truetype'),
		url('icomoon.woff?j371rx') format('woff'),
		url('icomoon.svg?j371rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-local:before {
	content: "\e603";
}
.icon-soundcloud:before {
	content: "\e600";
}
.icon-spotify:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
