<div class="track" context-menu="onContextShow()" context-menu-close="onContextClose()"
    data-target="{{ track.uri || track.tlid }}"
    ng-class="{ 'highlight': highlight, 'expanded' : expanded, 'loading': track.loading, 'selected': selected }"
    hm-doubletap="play()"
    ng-click="selectTrack($event)"
    ng-show="visible">

    <div class="row" ng-class="{'nowplaying': track.checkIsNowPlaying()}">
        <div class="col-sm-4 col-xs-12 name">
            <span class="source-icon icon-{{ track.source }}" ng-class="track.source"></span>
            {{ track.name }}
        </div>
        <div class="col-sm-3 col-xs-6 artists">
            <span ng-bind-html="track.artistsString()"></span>
        </div>
        <div class="col-sm-4 col-xs-6 album">
            <a href="#/music/tracklist/{{ track.album.uri }}/{{ track.album.name }}" ng-if="track.album.uri">{{ track.album.name }}</a>
            <span ng-if="!track.album.uri">{{ track.album.name }}</span>
        </div>
        <div class="col-sm-1 visible-lg-block visible-md-block visible-sm-blocklength">
            {{ track.lengthHuman() }}
        </div>
    </div>
</div>

<div class="contextmenu position-fixed" id="{{ track.uri || track.tlid }}">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="play()">
            Play track<span ng-show="multipleselected">s</span>
        </li>
        <li ng-click="playNext()" ng-hide="multipleselected">
            Play next
        </li>
        <li class="divider"></li>
        <li ng-click="addToQueue()">
            Add track<span ng-show="multipleselected">s</span> to queue
        </li>
        <li ng-show="$parent.source == 'tracklist'" ng-click="removeFromQueue()">
            Remove from queue
        </li>
        <li class="divider"></li>
        <li ng-click="startStation()" ng-if="track.source == 'spotify'">
            Start station
        </li>
        <li class="divider" ng-if="track.source == 'spotify'"></li>
        <li ng-click="showPlaylists()" ng-if="track.source == 'spotify'">
            <span class="source-icon icon-spotify"></span>
            Add to playlist
        </li>
        <li ng-if="$parent.isowner" ng-click="removeFromPlaylist()" ng-if="track.source == 'spotify'">
            <span class="source-icon icon-spotify"></span>
            Remove from playlist
        </li>
        <li class="divider" ng-if="track.source == 'spotify'"></li>
        <li ng-click="toggleSaveTrack()" ng-show='showSaveTrack' ng-if="track.source == 'spotify'">
            <span class="source-icon icon-spotify"></span>
            {{ (track.inSpotifyLibrary) ? 'Remove track from library' : 'Save track in library' }}
        </li>
        <li class="divider" ng-if="track.source == 'spotify'"></li>
        <li class="clip-text" data-clipboard-text="{{ track.uri }}" ng-hide="multipleselected" ng-if="track.source == 'spotify'">
            <span class="source-icon icon-spotify"></span>
            Copy Spotify URI
        </li>
        <li class="clip-text" data-clipboard-text="{{ track.http_uri }}" ng-hide="multipleselected" ng-if="track.source == 'spotify'">
            <span class="source-icon icon-spotify"></span>
            Copy HTTP Link
        </li>
    </ul>
</div>