<div class="tileart" context-menu
     data-target="menu-{{ artist.uri }}"
     ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
    <div class="hoverwrap">
        <div class="iconwrap row">
            <div class="icon small col-md-4">
                <a href="#/music/artist/{{ artist.uri }}"><i class="ss-icon ss-list"></i></a>
            </div>
            <div class="icon col-md-4">
                <i class="ss-icon ss-play" ng-click="play()"></i>
            </div>
            <div class="icon small col-md-4">
                <i class="ss-icon ss-wifi" ng-click="startStation()"></i>
            </div>
        </div>
    </div>

    <img ng-src="{{ artist.images[1].url }}" />
</div>
<div class="tileinfo clickable">
    <a href="#/music/artist/{{ artist.uri }}">
        <span class="name">{{ artist.name}}</span>
    </a>
</div>

<div class="contextmenu position-fixed" id="menu-{{ artist.uri }}">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="play()">
            Play
        </li>
        <li ng-click="addToQueue()">
            Add to queue
        </li>
        <li class="divider"></li>
        <li ng-click="startStation()">
            Start station
        </li>
    </ul>
</div>