<div class="browseitem">
    <div class="text">
        <span ng-bind-html="titleslogan"></span>
    </div>
    <div class="imagewrap">
        <img ng-src="{{ spotify.album.images[1].url }}" ng-if="suggestiontype != 'artist'"/>
        <img ng-src="{{ spotify.images[1].url }}" ng-if="suggestiontype == 'artist'"/>
    </div>  
    <div class="text">
        <span class="title">{{ spotify.name }}</span><br>
        <span class="artist" ng-bind-html="spotify.artiststring" ng-if="suggestiontype != 'artist'"></span>
    </div>
</div>