<div class="browseitem">
    <div class="text">
        <span ng-bind-html="titleslogan"></span>
    </div>
    <div class="imagewrap">
        <div class="hoverwrap">
            <div class="iconwrap row">
                <div class="icon small col-xs-4" title="Show tracks">
                    <a href="#/music/artist/{{ spotifyuri }}" ng-if="item.type == 'artist'"><i class="ss-icon ss-list"></i></a>
                    <a href="#/music/tracklist/{{ spotifyuri }}" ng-if="item.type == 'echonest'"><i class="ss-icon ss-list"></i></a>
                </div>
                <div class="icon col-xs-4" title="Play">
                    <i class="ss-icon ss-play" ng-click="play()"></i>
                </div>
                <div class="icon small col-xs-4" title="Start new station for: {{ suggestion.name }}">
                    <i class="ss-icon ss-wifi" ng-click="startStation()"></i>
                </div>
            </div>
        </div>

        <img ng-src="{{ image }}"/>
    </div>  
    <div class="text">
        <span class="title">{{ suggestion.name }}</span><br>
        <span class="artist" ng-if="suggestion.artist">{{ suggestion.artist }}</span>
    </div>
</div>