<div class="browseitem">
    <div class="text">
        <span ng-bind-html="titleslogan"></span>
    </div>
    <div class="imagewrap">
        <div class="hoverwrap">
            <div class="iconwrap row">
                <div class="icon small col-md-4">
                    <a href="#/music/artist/{{ spotify.uri }}" ng-if="suggestiontype == 'artist'"><i class="ss-icon ss-list"></i></a>
                    <a href="#/music/tracklist/{{ spotify.album.uri }}" ng-if="suggestiontype != 'artist'"><i class="ss-icon ss-list"></i></a>
                </div>
                <div class="icon col-md-4">
                    <i class="ss-icon ss-play" ng-click="play()"></i>
                </div>
                <div class="icon small col-md-4">
                    <i class="ss-icon ss-wifi" ng-click="startStation()"></i>
                </div>
            </div>
        </div>

        <img ng-src="{{ spotify.album.images[1].url }}" ng-if="suggestiontype != 'artist'"/>
        <img ng-src="{{ spotify.images[1].url }}" ng-if="suggestiontype == 'artist'"/>
    </div>  
    <div class="text">
        <span class="title">{{ spotify.name }}</span><br>
        <span class="artist" ng-if="suggestiontype != 'artist'">{{ spotify.artiststring }}</span>
    </div>
</div>