<div class="tileart" context-menu
     data-target="menu-{{ playlist.uri }}"
     ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
    <div class="hoverwrap">
        <div class="iconwrap row">
            <div class="icon small col-xs-4" title="Show playlist's tracks">
                <a href="{{ tracklistUrl }}"><i class="ss-icon ss-list"></i></a>
            </div>
            <div class="icon col-xs-4" title="Play playlist">
                <i class="ss-icon ss-play" ng-click="play()"></i>
            </div>
            <div class="icon small col-xs-4" title="Start new station for: {{ playlist.name }}">
                <i class="ss-icon ss-wifi" ng-click="startStation()"></i>
            </div>
        </div>
    </div>

    <img ng-src="{{ coverImage }}" />
</div>
<div class="tileinfo clickable">
    <a href="{{ tracklistUrl }}">
        <span class="name">{{ playlist.name}}</span>
        <span class="year">{{ playlist.tracks.length || playlist.tracks.total }} tracks</span>
    </a>
</div>

<div class="contextmenu position-fixed" id="menu-{{ playlist.uri }}">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="playTrack(track)">
            Play
        </li>
        <li ng-click="addTrackToQueue(track)">
            Add to queue
        </li>
        <li class="divider"></li>
        <li ng-click="startStation()">
            Start station
        </li>
    </ul>
</div>