<div class="track" context-menu
    data-target="{{ track.uri || track.tlid }}"
    ng-class="{ 'highlight': highlight, 'expanded' : expanded, 'loading': track.loading }"
    ng-dblclick="play()"
    ng-show="visible">

    <div class="row" ng-class="{'nowplaying': ($parent.currentPlayingTrack.uri == track.uri)}">
        <div class="col-md-4 name">
            {{ track.name }} 
        </div>
        <div class="col-md-3 artists">
            <span ng-bind-html="artistsString()"></span>
        </div>
        <div class="col-md-4 album">
            <a href="#/music/tracklist/{{ track.album.uri }}/{{ track.album.name }}">{{ track.album.name }}</a>
        </div>
        <div class="col-md-1 length">
            {{ lengthHuman() }}
        </div>
    </div>
</div>
<div class="selectplaylist" ng-show='showplaylists'>
    <div class="row">
        <div class="col-md-3">
            <ul class="playlists" role="menu">
                <li ng-repeat="playlist in userplaylists" ng-if="$index % 4 == 0" ng-click="addToPlaylist(playlist.uri)">
                    {{ playlist.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="playlist in userplaylists" ng-if="$index % 4 == 1" ng-click="addToPlaylist(playlist.uri)">
                    {{ playlist.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="playlist in userplaylists" ng-if="$index % 4 == 2" ng-click="addToPlaylist(playlist.uri)">
                    {{ playlist.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="playlist in userplaylists" ng-if="$index % 4 == 3" ng-click="addToPlaylist(playlist.uri)">
                    {{ playlist.name }}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="contextmenu position-fixed" id="{{ track.uri || track.tlid }}">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="play()">
            Play
        </li>
        <li class="divider"></li>
        <li ng-click="addToQueue()">
            Add to queue
        </li>
        <li ng-show="$parent.type == 'tracklist'" ng-click="removeFromQueue()">
            Remove from queue
        </li>
        <li class="divider"></li>
        <li ng-click="startStation()">
            Start station
        </li>
        <li class="divider"></li>
        <li ng-click="showPlaylists()">
            Add to playlist
        </li>
        <li ng-if="$parent.isowner" ng-click="removeFromPlaylist()">
            Remove from playlist
        </li>
    </ul>
</div>