<div id="header" class="small row" style="background-image: url('/assets/images/playlists-header.jpg');">
    <div class="col-md-4 lefttext">
        <div class="inner"><i class="ss-icon ss-list"></i>  SEARCH</div>
    </div>
</div>

<div id="overview" class="row">
    <div class="pagetitle row">
        <div class="col-md-3">
            Top result for <span class="sub">{{ query }}</span>
        </div>
    </div>

    <div class="pagecontent row" id="searchresults" ng-show="results.artists.items.length > 0">
        <div id="tileview" class="row" ng-if="topresult.type != 'tracks'">
            <mopify-artist artist="topresult.item" class="col-md-2 single-tile"></mopify-artist>
        </div>
        <div id="tracklist" class="row" ng-if="topresult.type == 'tracks'">
            <mopify-track track="topresult.item" surrounding="topresult.item"> </mopify-track>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Artists <span class="sub">{{ query }}</span>
        </div>
    </div>
    <div class="noresults" ng-show="results.artists.items.length == 0">
        <p>No results</p>
    </div>
    <div class="pagecontent row" id="searchresults" ng-show="results.artists.items.length > 0">
        <div id="tileview" class="row">
            <div ng-repeat="artist in results.artists.items">
                <mopify-artist artist="artist" class="col-md-2 single-tile"></mopify-artist>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Albums <span class="sub">{{ query }}</span>
        </div>
    </div>
    <div class="noresults" ng-show="results.albums.items.length == 0">
        <p>No results</p>
    </div>
    <div class="pagecontent row" id="searchresults" ng-show="results.albums.items.length > 0">
        <div id="tileview" class="row">
            <div ng-repeat="album in results.albums.items">
                <mopify-album album="album" class="col-md-2 single-tile"></mopify-album>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Tracks <span class="sub">{{ query }}</span>
        </div>
    </div>
    <div class="noresults" ng-show="results.tracks.length == 0">
        <p>No results</p>
    </div>
    <div class="pagecontent row" id="searchresults" ng-show="results.tracks.length > 0">
        <div id="tracklist" class="row">
            <div ng-repeat="track in results.tracks">
                <mopify-track track="track" surrounding="results.tracks"> </mopify-track>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Playlists <span class="sub">{{ query }}</span>
        </div>
    </div>
    <div class="noresults" ng-show="results.playlists.items.length == 0">
        <p>No results</p>
    </div>
    <div class="pagecontent row" id="searchresults" ng-show="results.playlists.items.length > 0">
        <div id="tileview" class="row">
            <div ng-repeat="playlist in results.playlists.items">
                <mopify-playlist playlist="playlist" play="play(playlist)" class="col-md-2 single-tile"></mopify-playlist>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>
    </div>
</div>