<div id="header" class="small row" ng-class="(currentview.id == 'bio') ? 'big' : ''" style="background-image: url('{{ artist.coverimage }}');">
    <div class="col-md-4 lefttext">
        <div class="inner">{{ artist.name }}</div>
    </div>
    <div class="col-md-4 centertext">
        <div class="row">
            <div class="col-md-4 music"><a href="/#/music/artist/{{ artistId }}" ng-class="{ 'active': currentview.id == 'music' }" ng-click="setView('music')">Music</a></div>
            <div class="col-md-4 biography"><a href="/#/music/artist/{{ artistId }}" ng-class="{ 'active': currentview.id == 'bio' }" ng-click="setView('bio')">Biography</a></div>
            <div class="col-md-4 related"><a href="/#/music/artist/{{ artistId }}" ng-class="{ 'active': currentview.id == 'related' }" ng-click="setView('related')">Related Artists</a></div>
        </div>  
    </div>
</div>
<div id="overview" class="row">
    <div class="pagetitle row">
        <div class="col-md-3">
            {{ artist.name }} <span class="sub">{{ currentview.name }}</span>
        </div>
        <div class="col-md-6 col-md-offset-3 alignright">
            <div class="button white" ng-click="startStation()">
                <span class="text">Start station</span>
                <i class="ss-icon ss-wifi"></i> 
            </div>
        </div>
    </div>
    <div class="pagecontent row">

        <div class="textcontent" ng-if="currentview.id == 'bio'">
            {{ artist.bio.text }}
        </div>

        <div id="tileview" ng-if="currentview.id == 'music'">
            <div ng-repeat="album in albums"> 
                <mopify-album album="album" class="single-tile col-md-2"></mopify-album>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>

        <div id="tileview" ng-if="currentview.id == 'related'">
            <div ng-repeat="relatedartist in related" class="single-tile col-md-2"> 
                <div class="tileart">
                    <img ng-src="{{ relatedartist.images[1].url }}" />
                </div>
                <div class="tileinfo clickable">
                    <a href="/#/music/artist/{{ relatedartist.uri }}">
                        <span class="name">{{ relatedartist.name}}</span>
                        <span class="year">Genres: {{ relatedartist.genres.join(", ") }} </span>
                    </a>
                </div>
                <div ng-if="($index + 1) % 6 == 0" class="row"></div>
            </div>
        </div>
    </div>
</div>