<div id="header" class="small row" style="background-image: url('{{ coverImage }}');">
    <div class="col-md-10 lefttext">
        <div class="inner"><i class="ss-icon ss-list"></i>  {{ name }}</div>
    </div>
</div>

<div id="overview" class="row">
    <div class="pagetitle row">
        <div class="col-md-3">
            tracks <span class="sub">{{ type }}</span>
        </div>
        <div class="col-md-6 col-md-offset-3 alignright">
            <div class="button white" ng-click="toggleSaveAlbum()" ng-show="type == 'Album'">
                <span class="text">{{ (albumAlreadySaved) ? 'Remove' : 'Save' }} album</span>
                <i class="ss-icon ss-check" ng-show="!albumAlreadySaved"></i> 
                <i class="ss-icon ss-delete" ng-show="albumAlreadySaved"></i> 
            </div>
            <div class="button white" ng-click="startStation()">
                <span class="text">Start station</span>
                <i class="ss-icon ss-wifi"></i> 
            </div>
            <div class="button white" ng-click="shuffle()" ng-if="type != 'tracklist'">
                <span class="text">Shuffle {{ type }}</span>
                <i class="ss-icon ss-shuffle"></i> 
            </div>
        </div>
    </div>

    <div class="pagecontent row">
        <div id="tracklist" infinite-scroll="getMoreTracks()" infinite-scroll-distance="1">
            <div class="row" ng-repeat="track in tracks track by $index" >
                <mopify-track track="track" surrounding="tracks" currentplayingtrack="currentPlayingTrack" type="type"> </mopify-track>
            </div>
        </div>
    </div>
</div>