<div id="header" class="small row" style="background-image: url('./assets/images/echonest-header.jpg');">
    <div class="col-md-10 lefttext">
        <div class="inner"><i class="ss-icon ss-settings"></i>  Settings</div>
    </div>
</div>

<div id="overview" class="row">
    <div class="pagetitle row">
        <div class="col-md-3">
            Service <span class="sub">Taste Profile</span>
        </div>
    </div>
    <div class="pagecontent row">
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Description</label>
            </div>
            <div class="description col-md-8">
                <p>Taste Profile is an <a href="http://the.echonest.com/" target="_blank">Echonest service</a>. This services keeps track of the songs you listen. This list is called a Taste Profile and can be used to create personal music recommendations. Those recommendations can be viewed at the 'Browse' page. This Taste Profile is completely anonymous and can always be deleted.</p>
                <p><i>Songs can only be saved to your Taste Profile when Mopify is opened.</i></p>
            </div>
        </div>
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Profile ID</label>
            </div>
            <div class="input col-md-4">
                <input name="trackingid" ng-model="tasteprofile.id" class="field" readonly="readonly" />
            </div>
            <div class="description col-md-4 col-md-offset-1">
                <p>This profile ID was generated for you when you enabled the service. This ID is used to keep track of your personal Taste Profile.</p>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Danger zone <span class="sub">Taste Profile</span>
        </div>
    </div>
    <div class="pagecontent row">
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Delete</label>
            </div>
            <div class="input col-md-4">
                <div class="button white dangerous fullwidth" ng-click="deleteProfile()">
                    <span class="text">Delete profile</span>
                    <i class="ss-icon ss-trash"></i> 
                </div>
            </div>
            <div class="description col-md-4 col-md-offset-1">
                <p>You can delete your Taste Profile and all its contents by clicking on this button. Note that this action can't be undone.</p>
            </div>
        </div>
    </div>
</div>