body, html{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    color: #444444;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.fullheight{
    height: 100%;
}

#application{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#application #headerwrap{
    width: 100%;
    height: 90px;
    position: relative;
    background: rgba(124,105,112,.5);
}

#application #headerwrap #playerwrap{
    height: 70px;
    margin-top: 10px;
    padding-left: 30px;
}

#application #headerwrap #playerwrap #albumart{
    height: 100%;
    width: 70px;
    float: left;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.7);
    box-shadow: 0 0 25px rgba(0,0,0,.7);
    border: 1px solid rgba(255, 255, 255, .8);
}

#application #headerwrap #playerwrap #albumart img{
    height: 100%;
    width: 100%;
}

#application #headerwrap #playerwrap #songinfo{
    margin-left: 100px;
    padding-top: 8px;
}

#application #headerwrap #playerwrap #songinfo span.title,
#application #headerwrap #playerwrap #songinfo span.artist{
    display: block;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,.2);
}

#application #headerwrap #playerwrap #songinfo span.title{
    font-size: 22px;
}

#application #headerwrap #playerwrap #songinfo span.artist{
    font-size: 12px;
    opacity: .9;
    margin-top: 2px;
}

#application #headerwrap #controlswrap #controls{
    margin: 16px 0 13px 0;
    text-align: center;
}

#application #headerwrap #controlswrap #controls .iconwrap {
    display: inline-block;
    margin: 0 7px;
    height: 35px;
    width: 35px;
    line-height: 37px;
    font-size: 14px;
    color: white;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: center;
    background: rgba(255,255,255,0);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

#application #headerwrap #controlswrap #controls .iconwrap.big{
    width: 45px;
    height: 45px;
    line-height: 48px;
    font-size: 18px;
}

#application #headerwrap #controlswrap #controls .iconwrap:hover{
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,1);
}

#application #headerwrap #controlswrap #controls .iconwrap.big i{
    margin-right: -3px;
}

#application #headerwrap #controlswrap #seekbar{
    width: 100%;
    height: 2px;
    background: white;
}

#application #headerwrap #controlswrap #seekbar #fill{
    height: 100%;
    width: 67%;
    background: #2fb55f;
}

#application #backgroundimage{
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: 0;
    z-index: -1;
    background-image: url('https://d3rt1990lpmkn.cloudfront.net/cover/e0a12a79504b62cbf9d384048dda7508925b27ce');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: url('./svg/resources.svg#blur');
    -webkit-filter: blur(10px) contrast(1);
}


#application #mainwrap{
    height: calc(100% - 90px);
    position: relative;
    z-index: 10;
    background: white;
    width: 100%;
}

#application #mainwrap #leftside{
    width: 100%;
    background-color: #f1f2f4;
    border-right: 1px solid #d9dce0;
}

#application #mainwrap #rightside{
    width: 100%;
    background-color: #f1f2f4;
    border-left: 1px solid #d9dce0;
}