<div class="list">
    <div infinite-scroll="loadMoreItems()" infinite-scroll-disabled="infinitelist.disabled" infinite-scroll-distance=".5" infinite-scroll-parent="true">
        <div ng-repeat="item in infinitelist.items">
            <collection-directory directory="item" ng-if="item.type == 'directory'"></collection-directory>
            <collection-track surrounding="list" track="item" ng-if="item.type == 'track'"></collection-track>
            <collection-playlist playlist="item" ng-if="item.type == 'playlist'"></collection-playlist>
        </div>
    </div>
    <div ng-if="isEmpty()" class="empty">No items</div>

</div>