<div class="list">
    <div infinite-scroll="loadMoreItems()" infinite-scroll-disabled="infinitelist.disabled" infinite-scroll-distance=".5" infinite-scroll-parent="true">
        <div ng-repeat="item in infinitelist.items" ng-switch="item.type">
            <collection-directory directory="item" ng-switch-when="directory"></collection-directory>
            <collection-track surrounding="list" track="item" ng-switch-when="track"></collection-track>
            <collection-playlist playlist="item" ng-switch-when="playlist"></collection-playlist>
            <collection-artist artist="item" ng-switch-when="artist"></collection-artist>
            <collection-album album="item" ng-switch-when="album"></collection-album>
        </div>
    </div>
    <div ng-if="isEmpty()" class="empty">No items</div>

</div>