<div class="row">
    <div class="iconwrap">
        <div class="col-md-3">
            <a href="/#/music/tracklist/mopidy:current"><i class="ss-icon ss-list"></i></a>
        </div>
        <div class="col-md-3">
            <i class="ss-icon ss-navigateleft" ng-click="prev();"></i>
        </div>
        <div class="col-md-3">
            <i class="ss-icon {{ stateIcon }}" ng-click="playpause();"></i>
        </div>
        <div class="col-md-3">
            <i class="ss-icon ss-navigateright" ng-click="next();"></i>
        </div>
    </div>
</div>