<div class="search-overlay" id="overview" > 
    <div class="close" ng-click="closeSearch();"><i class="ss-icon ss-delete"></i></div>  
    <div class="inner">
        <div class="inputwrap">
            <span class="instructions">Start typing to search</span>
            <input type="text" class="fluent" ng-model="query" novalidate focus-me="$root.focussearch" ng-keyup="typing($event)"/>
        </div>

        <div class="resultwrap pagecontent" ng-show="loading">
            Loading...
        </div>

        <div class="resultwrap pagecontent" ng-hide="loading">
            <div class="row">
                <div class="col-lg-2 col-sm-6 column hidden-md hidden-sm">
                    <div class="title">
                        <h2>Best match: {{ topresult.item.name }}</h2>
                    </div>
                    <div id="featured">
                        <div id="searchview" class="topresult">
                            <div class="cover">
                                <a href="#/music/tracklist/{{ topresult.item.uri }}"><img ng-src="{{ topresult.item.images[0].url }}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column ">
                    <div class="title">
                        <h2>Artists</h2>
                        <div ng-click="searchLimitsToggle('artists')">
                            <span class="more" ng-show="searchLimits.artists != 50">More</span>
                            <span class="more" ng-show="searchLimits.artists == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.artists.items.length == 0">No results</div>
                        <mopify-artist artist="artist" class="single-tile" ng-repeat="artist in results.artists.items | limitTo:searchLimits.artists"></mopify-artist>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column">
                    <div class="title">
                        <h2>Albums</h2>
                        <div ng-click="searchLimitsToggle('albums')">
                            <span class="more" ng-show="searchLimits.albums != 50">More</span>
                            <span class="more" ng-show="searchLimits.albums == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.albums.items.length == 0">No results</div>
                        <mopify-album album="album" class="single-tile" ng-repeat="album in results.albums.items | limitTo:searchLimits.albums"></mopify-album>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column">
                    <div class="title">
                        <h2>Playlists</h2>
                        <div ng-click="searchLimitsToggle('playlists')">
                            <span class="more" ng-show="searchLimits.playlists != 50">More</span>
                            <span class="more" ng-show="searchLimits.playlists == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.playlists.items.length == 0">No results</div>
                        <mopify-playlist playlist="playlist" play="play(playlist)" class="single-tile col-sm-4" ng-repeat="playlist in results.playlists.items | limitTo:searchLimits.playlists"></mopify-playlist>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12 column">
                    <div class="title">
                        <h2>Tracks</h2>
                        <div ng-click="searchLimitsToggle('tracks')">
                            <span class="more" ng-show="searchLimits.tracks != 50">More</span>
                            <span class="more" ng-show="searchLimits.tracks == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div id="tracklist" class="row">
                            <div class="noresults" ng-show="results.tracks.length == 0">No results</div>
                            <mopify-track track="track" surrounding="results.tracks" <div ng-repeat="track in results.tracks | limitTo:searchLimits.tracks">> </mopify-track>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>