<div class="search-overlay" id="overview" >
    <div class="close" ng-click="closeSearch();"><i class="ss-icon ss-delete"></i></div>
    <div class="inner">
        <div class="inputwrap">
            <span class="instructions">Start typing to search</span>
            <input type="text" class="fluent" ng-model="query" novalidate focus-me="$root.focussearch" ng-keyup="typing($event)"/>
        </div>

        <div class="resultwrap pagecontent loading" ng-show="loading">
            <svg version="1.1" class="svg-loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve">
                <path id="spinner" fill="#444444" d="M40,72C22.4,72,8,57.6,8,40C8,22.4,
                    22.4,8,40,8c17.6,0,32,14.4,32,32c0,1.1-0.9,2-2,2
                    s-2-0.9-2-2c0-15.4-12.6-28-28-28S12,24.6,12,40s12.6,
                    28,28,28c1.1,0,2,0.9,2,2S41.1,72,40,72z" transform="rotate(42.6866 40 40)">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 40 40" to="360 40 40" dur="0.75s" repeatCount="indefinite"></animateTransform>
                </path>
            </svg>
        </div>

        <div class="resultwrap pagecontent" ng-hide="loading">
            <div class="row">
                <div class="col-lg-2 col-sm-6 column hidden-md hidden-sm">
                    <div class="title">
                        <h2>Best match: {{ topresult.item.name }}</h2>
                    </div>
                    <div id="featured">
                        <div id="searchview" class="topresult">
                            <div class="cover">
                                <a href="{{ topresult.link }}"><img ng-src="{{ topresult.item.images[0].url }}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column ">
                    <div class="title">
                        <h2>Artists</h2>
                        <div ng-click="searchLimitsToggle('artists')">
                            <span class="more" ng-show="searchLimits.artists != 50">More</span>
                            <span class="more" ng-show="searchLimits.artists == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.artists.items.length == 0">No results</div>
                        <mopify-artist artist="artist" class="single-tile" ng-repeat="artist in results.artists.items | limitTo:searchLimits.artists"></mopify-artist>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column">
                    <div class="title">
                        <h2>Albums</h2>
                        <div ng-click="searchLimitsToggle('albums')">
                            <span class="more" ng-show="searchLimits.albums != 50">More</span>
                            <span class="more" ng-show="searchLimits.albums == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.albums.items.length == 0">No results</div>
                        <mopify-album album="album" class="single-tile" ng-repeat="album in results.albums.items | limitTo:searchLimits.albums"></mopify-album>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 column">
                    <div class="title">
                        <h2>Playlists</h2>
                        <div ng-click="searchLimitsToggle('playlists')">
                            <span class="more" ng-show="searchLimits.playlists != 50">More</span>
                            <span class="more" ng-show="searchLimits.playlists == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div class="noresults" ng-show="results.playlists.items.length == 0">No results</div>
                        <mopify-playlist playlist="playlist" play="play(playlist)" class="single-tile col-sm-4" ng-repeat="playlist in results.playlists.items | limitTo:searchLimits.playlists"></mopify-playlist>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12 column">
                    <div class="title">
                        <h2>Tracks</h2>
                        <div ng-click="searchLimitsToggle('tracks')">
                            <span class="more" ng-show="searchLimits.tracks != 50">More</span>
                            <span class="more" ng-show="searchLimits.tracks == 50">Less</span>
                        </div>
                    </div>
                    <div id="searchview">
                        <div id="tracklist" class="row">
                            <div class="noresults" ng-show="results.tracks.length == 0">No results</div>
                            <mopify-track track="track" surrounding="results.tracks" <div ng-repeat="track in results.tracks | limitTo:searchLimits.tracks">> </mopify-track>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>