<div id="header" class="small row" style="background-image: url('./assets/images/settings-header.jpg');">
    <div class="col-md-10 lefttext">
        <div class="inner"><i class="ss-icon ss-settings"></i>  Settings</div>
    </div>
</div>

<div id="overview" class="row">
    <div class="pagetitle row">
        <div class="col-md-3">
            Service <span class="sub">Sync</span>
        </div>
    </div>
    <div class="pagecontent row">
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Description</label>
            </div>
            <div class="description col-md-8">
                <p>The Sync service extends Mopify with the possibility to synchronize the settings and credentials of other services (like Spotify) with other Mopify clients in your network. There is no difference between a master or slave. Which means that every 'client' can override the synced data by clicking on 'Push'.</p>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Synchronize <span class="sub">Sync</span>
        </div>
    </div>
    <div class="pagecontent row">
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Spotify credentials</label>
            </div>
            <div class="input col-md-1">
                <toggle-switch ng-model="settings.sync.spotify" ng-click="spotifyToggle()"></toggle-switch>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="button white fullwidth" ng-click="sendCurrentSpotifyTokens()" ng-show="settings.sync.spotify">
                            <span class="text">Push</span>
                            <i class="ss-icon ss-upload"></i> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="button white fullwidth" ng-click="getSyncSpotifyTokens()" ng-show="settings.sync.spotify">
                            <span class="text">Get</span>
                            <i class="ss-icon ss-download"></i> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="description col-md-4 col-md-offset-1">
                <p>When enabled every client that has Sync enabled will use the same Spotify credentials.</p>
                <p><b>GET:</b> Retrieve the credentials from the Sync server<br/><b>PUSH:</b> Push your current credentials to the sync server</p>
                <p ng-show="settings.sync.spotify">Currently using credentials from device: <i>{{ spotifyclient.name }} <span ng-show="spotifyclient.id == client.id">(That's you)</span></i></p>
            </div>
        </div>
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>TasteProfile ID</label>
            </div>
            <div class="input col-md-1">
                <toggle-switch ng-model="settings.sync.tasteprofile" ng-click="tasteProfileToggle()"></toggle-switch>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="button white fullwidth" ng-click="sendCurrentTasteProfileID()" ng-show="settings.sync.tasteprofile">
                            <span class="text">Push</span>
                            <i class="ss-icon ss-upload"></i> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="button white fullwidth" ng-click="getSyncTasteProfileID()" ng-show="settings.sync.tasteprofile">
                            <span class="text">Get</span>
                            <i class="ss-icon ss-download"></i> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="description col-md-4 col-md-offset-1">
                <p>When enabled every client that has Sync enabled will use the same TasteProfile.</p>
                <p><b>GET:</b> Retrieve the credentials from the Sync server<br/><b>PUSH:</b> Push your current credentials to the sync server</p>
                <p ng-show="settings.sync.tasteprofile">Currently using credentials from device: <i>{{ tasteprofileclient.name }} <span ng-show="tasteprofileclient.id == client.id">(That's you)</span></i></p>
            </div>
        </div>
    </div>

    <div class="pagetitle row">
        <div class="col-md-3">
            Client <span class="sub">Sync</span>
        </div>
    </div>
    <div class="pagecontent row">
        <div class="settingwrap row">
            <div class="label col-md-2">
                <label>Client name</label>
            </div>
            <div class="input col-md-4">
                <input type="text" ng-model="client.name" ng-blur="updateClient()">
            </div>
            <div class="description col-md-4 col-md-offset-1">
                <p>The name of this client which will be used to identify this client with the others.</p>
            </div>
        </div>
    </div>

</div>